body {
  background-color: #EAF6F6;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  padding-left: 15px;
}

h3 {
  color: #66BFBF;
  padding-left: 12px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 5%;
}

a {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}

.link {
  padding: 10px 20px;
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.link:hover {
  color: #EAF6F6;
}

.bottom {
  background-color: #66BFBF;
  padding: 20px 0 5px;
  position: relative;
}

.bottom-body {
  text-align: center;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.table {
  margin-bottom: 20px;
}

.copyright {
  color: #EAF6F6;
  margin: 20px auto 10px;
  font-size: 0.75rem;
  text-align: center;
  padding-top: 35px;
}

.button {
  text-align: center;
  margin: 50px auto 50px auto;
}

.BUTTON_IZA {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 600;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_IZA:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.BUTTON_IZA {
  position: relative;
  margin-bottom: 5px;
}

.contactme-body {
  font-family: 'Merriweather', serif;
  padding-left: 15px;
  font-size: 125%;
  background-color: #EAF6F6;
}

.contactme {
  font-family: 'Sacramento', cursive;
  margin: 0 auto;
  font-size: 300%;
}

.name {
  padding-bottom: 1px;
}

.email {
  padding-bottom: 1px;
}

.msg {
  padding-bottom: 1px;
}

.submit {
  padding-bottom: 1px;
}

.blog {
  background-color: #EAF6F6;
}

.blog-link {
  padding-left: 15px;
  text-decoration: none;

.hobbies {
  background-color: #EAF6F6;
}  
